.admin {
  .panel-fixed-height {
    .panel-body {
      height: 150px;
      overflow-x: scroll;

    }
  }

  .btn-group-sm .btn, .btn-sm {
    padding: 1px 5px;
    line-height: 22px;
    i.mdi {
      font-size: 17px;
    }
  }

  .v-center-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    > * {
      flex-grow: 1;
    }

    .box-placeholder {
      text-align: center;
      color: $gray-lighter;
    }
  }
}
