<div class="row">
  <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">

    <form>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" ng-model="username"/>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" ng-model="password" />
      </div>

      <div class="alert alert-danger" role="alert" ng-if="error">
        <strong>Bad credentials</strong>
        Please retry with correct username and password!
      </div>

      <button type="button" class="btn btn-default" ng-click="logIn()">Log In</button>
    </form>
  </div>
</div>
