<div class="admin container">

  <!-- KPIs -->
  <div class="row">

    <div class="col s12 m6">
      <div class="card kpi">
        <div class="card-content">
          <span class="card-title"><i class="mdi mdi-coins"></i> {{ 'admin.kpis.earnings.title' | translate }}</span>
          <p>
            <h1>
              {{ totalEarnings | euro }}
              <span class="secondary-kpi">&mdash;&nbsp;{{ totalDebts | euro }}&nbsp;{{ 'admin.kpis.earnings.outstanding' | translate }}</span>
            </h1>
          </p>
        </div>
      </div>
    </div>

    <div class="col s12 m6">
      <div class="card kpi">
        <div class="card-content">
          <span class="card-title"><i class="mdi mdi-beer"></i> {{ 'admin.kpis.purchases.headline' | translate }}</span>
          <p>
            <h1>
              {{purchases.length}}
              <span class="secondary-kpi">&mdash;&nbsp;{{todaysPurchases}} {{ 'admin.kpis.purchases.today' | translate }}</span>
            </h1>
          </p>
        </div>
      </div>
    </div>

  </div>
  <div class="row">

    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <span class="card-title"><i class="mdi mdi-trending-up"></i> {{ 'admin.kpis.chart.headline' | translate }}</span>
          <div id="chart-container"></div>
        </div>
      </div>
    </div>

  </div>
  <div class="row">

    <div class="col s12 m6">
      <div class="card">
        <div class="card-content">
          <span class="card-title"><i class="mdi mdi-heart-outline"></i> {{ 'admin.kpis.bestCustomer.headline' | translate }}</span>
          <p>
            <h2 class="truncate" ng-attr-title="{{bestCustomer.name}}">{{bestCustomer.name}}</h2>
            {{ 'admin.kpis.bestCustomer.content' | translate:{numberOfDrinks: bestCustomer.totalPurchases, sumPrice: bestCustomer.totalAmount} }}
          </p>
        </div>
      </div>
    </div>

    <div class="col s12 m6">
      <!-- kpi -->
    </div>

  </div>
  <div class="row">

    <!-- unconfirmed payments -->
    <div class="col s12" ng-if="pendingPayments.length > 0">
      <div class="card white">
        <div class="card-content">
          <span class="card-title">{{ 'admin.pendingPayments.headline' | translate }}</span>

          <table>
            <thead>
              <tr>
                  <th>{{ 'admin.pendingPayments.user' | translate }}</th>
                  <th>{{ 'admin.pendingPayments.amount' | translate }}</th>
                  <th>{{ 'admin.pendingPayments.actions' | translate }}</th>
              </tr>
            </thead>

            <tbody>
              <tr ng-repeat="payment in pendingPayments">
                <td>{{usersById[payment.user_id].name}}</a></td>
                <td>{{ payment.amount_cents | euro }}</td>
                <td>
                  <button class="waves-effect waves-light btn btn-flat primary-color" type="button" ng-disabled="payment.confirming" ng-click="confirmPayment(payment)">
                    <i class="mdi" ng-class="{'mdi-loading mdi-spin': payment.confirming, 'mdi-check': !payment.confirming}"></i>
                    {{ 'admin.pendingPayments.confirm' | translate }}
                  </button>
                  &nbsp;
                  <button class="waves-effect waves-light btn btn-flat danger-color" type="button" ng-disabled="payment.declining" ng-click="declinePayment(payment)">
                    <i class="mdi" ng-class="{'mdi-loading mdi-spin': payment.declining, 'mdi-block-helper': !payment.declining}"></i>
                    {{ 'admin.pendingPayments.decline' | translate }}
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col s12">
      <div class="card white account-management">
        <div class="card-content">
          <span class="card-title">{{ 'admin.accountManagement.headline' | translate }}</span>
          <ul class="collapsible z-depth-0" data-collapsible="accordion">
            <li>
              <div class="collapsible-header">
                <i class="mdi mdi-plus"></i> {{ 'admin.accountManagement.newAccountHeadline' | translate }}
              </div>
              <div class="collapsible-body">
                <table>
                  <tr>
                    <td>
                      <input type="text" placeholder="{{ 'admin.accountManagement.name' | translate }}" ng-model="newUserName" ng-disabled="inserting" />
                    </td>
                    <td>
                      <input type="text" placeholder="{{ 'admin.accountManagement.email' | translate }}" ng-model="newUserEmail" ng-disabled="inserting" />
                    </td>
                    <td>
                      <input type="text" placeholder="{{ 'admin.accountManagement.rfid' | translate }}" ng-model="newUserRfid" ng-disabled="inserting" />
                    </td>
                    <td>
                      <button class="waves-effect waves-light btn btn-flat primary-color" ng-click="createUser()" ng-disabled="inserting ">
                        <i class="mdi" ng-class="{ 'mdi-plus': !inserting, 'mdi-loading mdi-spin': inserting}"></i>
                        {{ 'admin.accountManagement.add' | translate }}
                      </button>
                    </td>
                  </tr>
                </table>
              </div>
            </li>
          </ul>

          <div class="sort-toolbar right-align">
            Order
            <a href
               class="waves-effect waves-teal btn-flat"
               ng-click="order = 'alphabet'"
               ng-class="{active: order === 'alphabet'}">
              <i class="mdi mdi-alphabetical"></i>
            </a>
            <a href
               class="waves-effect waves-teal btn-flat"
               ng-click="order = 'purchases'"
               ng-class="{active: order === 'purchases'}">
              <i class="mdi mdi-beer"></i>
            </a>
            <a href
               class="waves-effect waves-teal btn-flat"
               ng-click="order = 'debts'"
               ng-class="{active: order === 'debts'}">
              <i class="mdi mdi-coins"></i>
            </a>
          </div>

          <ul class="collapsible z-depth-0 user-list" data-collapsible="accordion">
            <li ng-repeat="user in users">
              <div class="collapsible-header">
                <!-- <i class="mdi mdi-account"></i> -->
                <div class="user-name">{{user.name}}</div>
                <div class="header-value"><i class="mdi mdi-beer"></i> {{purchasesByUsers[user.id].length || 0}}</div>
                <div class="header-value"><i class="mdi mdi-coins"></i> {{debts[user.id] | euro }}</div>
              </div>

              <div class="collapsible-body">
                <div class="row">
                  <div class="col s12 m6">
                    <table>
                      <tr>
                        <th>{{ 'admin.accountManagement.id' | translate }}</th>
                        <td>{{user.id}}</td>
                      </tr>
                      <tr>
                        <th>{{ 'admin.accountManagement.name' | translate }}</th>
                        <td ng-if="!editMode">{{user.name}}</td>
                        <td ng-if="editMode"><input type="text" ng-model="user.name" /></td>
                      </tr>
                      <tr>
                        <th>{{ 'admin.accountManagement.email' | translate }}</th>
                        <td ng-if="!editMode">{{user.email}}</td>
                        <td ng-if="editMode"><input type="text" ng-model="user.email" /></td>
                      </tr>
                      <tr>
                        <th>{{ 'admin.accountManagement.rfid' | translate }}</th>
                        <td ng-if="!editMode"><code>{{user.rfid}}</code></td>
                        <td ng-if="editMode"><code><input type="text" ng-model="user.rfid" /></code></td>
                      </tr>
                      <tr>
                        <th>{{ 'admin.accountManagement.registrationDate' | translate }}</th>
                        <td>{{user.registration_timestamp | date:short}}</td>
                      </tr>
                      <tr>
                        <th>{{ 'admin.accountManagement.totalDrinks' | translate }}</th>
                        <td>{{purchasesByUsers[user.id].length || 0}}</td>
                      </tr>
                    </table>
                  </div>
                  <div class="col s12 m6">
                    <button type="button" class="waves-effect waves-light btn btn-flat primary-color"
                            ng-click="editMode = !editMode" ng-hide="editMode">
                      <i class="mdi mdi-pencil"></i>
                      {{ 'admin.accountManagement.edit' | translate }}
                    </button>

                    <button class="waves-effect waves-light btn btn-flat primary-color"
                            ng-click="updateUser(user);editMode = !editMode" ng-hide="!editMode">
                      <i class="mdi mdi-check"></i>
                      {{ 'admin.accountManagement.save' | translate }}
                    </button>

                    <br/>
                    <br/>

                    <button type="button" class="waves-effect waves-light btn btn-flat danger-color"
                            ng-click="deleteActive = !deleteActive">
                      <i class="mdi" ng-class="{'mdi-lock-open': !deleteActive, 'mdi-lock': deleteActive}"></i>
                    </button>
                    <button type="button" class="waves-effect waves-light btn btn-flat red darken-3 white-text"
                            ng-disabled="!deleteActive" ng-click="deleteUser(user)">
                      <i class="mdi mdi-delete"></i>
                      {{ 'admin.accountManagement.delete' | translate }}
                    </button>

                    <br/>
                    <br/>

                    <button type="button" class="waves-effect waves-light btn btn-flat primary-color"
                            ng-disabled="mailSent || !debts[user.id]" ng-click="sendEmailReminder(user);mailSent = true">
                      <i class="mdi" ng-class="{ 'mdi-check': mailSent, 'mdi-email-alert': !mailSent}"></i>
                      {{ 'admin.accountManagement.sendPaymentReminder' | translate }}
                    </button>

                    <br/>
                    <br/>

                    <a ng-attr-href="{{'#/user/' + user.id + '/' + user.secret }}"
                        class="waves-effect waves-light btn btn-flat primary-color">
                      <i class="mdi mdi-login-variant"></i>
                      {{ 'admin.accountManagement.loginAs' | translate }}
                    </button>
                  </div>
              </div>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
