.admin {
  padding-top: 10px;

  .row {
    margin-bottom: 0;
  }

  .kpi {
    font-size: 30px;
    display: block;

    h1 {
      .secondary-kpi {
        font-size: 50%;
        color: #999;
        font-weight: 100;
      }
    }
  }

  #chart-container {
    height: 116px;
    margin-left: -12px;
    margin-right: -12px;
    width: calc(100% + 24px);
  }

  .btn-flat.active {
    color: #fff;
    background: $primary-color;
  }

  .account-management {
    .user-name {
      flex-grow: 1;
    }

    td, th {
      padding: 10px 5px;
    }

    .collapsible-header {
      i {
        font-size: 14px;
        margin-right: 0;
      }
      .header-value {
        margin-right: 3px;
      }
    }

    .user-list {
      input {
        height: 2rem;
        margin-bottom: 0;
      }
    }
  }
}
