$gradient-1: linear-gradient(to right, #aa076b, #61045f);
$gradient-2: linear-gradient(to right, #4389A2, #5C258D);
$gradient-3: linear-gradient(to right, #4776e6, #8e54e9);

$gradient-4: linear-gradient(to right, #cc2b5e, #753a88);
$primary-color: #753a88;
$secondary-color: #cc2b5e;
