$roboto-font-path: '../assets/';
@import 'materialize.scss';
@import 'colors.scss';
@import 'collapsible.scss';
@import 'forms.scss';
@import 'cards.scss';
@import 'buttons.scss';

//smart home icons
@import 'flaticon';

$mdi-font-path: '../assets';
@import 'materialdesignicons.scss';

@import '../scripts/components/admin/admin';
@import '../scripts/components/user/user';
@import '../scripts/components/register/register';
@import '../scripts/directives/slide-to-action-button/slideToActionButton';


body {
  background: $gradient-4;
}
