.user {

  .preloader-wrapper {
    margin-top: 30px;
  }

  .history {
    border: none;

    li.confirmed, li.pending {
      ~ li {
        opacity: 0.5;
      }
      .payment-icon {
        @extend .primary-color;
      }
    }

    li.declined .payment-icon {
      @extend .secondary-color;
    }
  }


  .slide-btn-parent {

    &.ng-enter, &.ng-leave {
      transition: 1000ms cubic-bezier(0.600, -0.280, 0.735, 0.045) all;
      position: relative;
      display: block;
    }

    &.ng-enter.ng-enter-active,
    &.ng-leave {
      opacity: 1;
      top: 0;
      height: 131px;
    }

    &.ng-leave.ng-leave-active,
    &.ng-enter {
      opacity: 0;
      top: -50px;
      height: 0px;
    }

    .slide-btn-wrapper {
      width: 100%;
      max-width: 400px;
      margin: auto;
    }
  }

  .payment-link {
    @extend .blue-text;
    i.mdi-check {
      transition: opacity 0.5s ease-out;
      opacity: 0;
    }
    transition: all 0.5s ease-out;

    &.copied {
      @extend .green-text, .text-accent-4;
      i.mdi-check {
        opacity: 1;
      }
    }
  }

  .bank-notes-impossible {
    opacity: 0.5;
  }

  .payment-modal {
    display: block;
    transition: opacity 0.5s ease-out;

    &.open {
      z-index: 1003;
      opacity: 1;
      top: 10%;
    }
    opacity: 0;
    max-height: 87%;
    height: 80%;

    .modal-content {
      padding-bottom: 0;
      .row {
        margin-bottom: 0;
      }
    }
  }

  .modal-overlay {
    z-index: 1002;
    display: block;
    opacity: 0.5;
  }

  .collection .collection-item.avatar {
    min-height: auto;
    background: #fff;

    &.new {
      animation-name: color-flash;
      animation-duration: 3s;
      animation-delay: 2s;

      @keyframes color-flash {
        0%    { background-color: #fff; }
        50%   { background-color: lighten($primary-color, 50%); }
        100%  { background-color: #fff; }
      }
    }

    .secondary-content {
      top: 10px;
      right: 10px;
      font-size: 22px;
    }

    &:first-of-type {
      z-index: 1000;
    }

    &.ng-enter, &.ng-leave {
      transition: 1s cubic-bezier(0.680, -0.550, 0.265, 1.550) all;
      transition-delay: 1s;
      position: relative;
      display: block;
    }

    &.ng-enter.ng-enter-active,
    &.ng-leave {
        opacity: 1;
        top: 0;
        height: 65px;
    }

    &.ng-leave.ng-leave-active,
    &.ng-enter {
        opacity: 0;
        top: -50px;
        height: 0px;
        margin-bottom: 0;
    }
  }
}
